
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

/* body{
    width: 100%;
    height: 80vh;
    background: url("../img/pict4.jpeg") center center;
    background-size: cover;
    position: relative;
} */
body{

    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("../img/pict4.jpeg");
    background-size:cover;
    background-position:center;
    height:100vh; 
}
/*--------------------------------------------------------------
# Registration form
--------------------------------------------------------------*/

.form-control {
    height: 34px;
    box-shadow: none;
    color: #969fa4;
}

.form-control:focus {
    border-color: #5cb85c;
}

.form-control,
.btn {
    border-radius: 3px;
}

.signup-form {
    width: 600px;
    margin: auto;
    padding: 25px 0;
    font-size: 15px;
}

.signup-form h4 {
    color: #636363;
    margin: 0 0 8px;
    position: relative;
    text-align: center;
}

.signup-form h4:before,
.signup-form h4:after {
    content: "";
    height: 2px;
    width: 27%;
    background: #d4d4d4;
    position: absolute;
    top: 45%;
    z-index: 2;
}

.signup-form h4:before {
    left: 0;
}

.signup-form h4:after {
    right: 0;
}

.signup-form .hint-text {
    color: #999;
    margin-bottom: 25px;
    text-align: center;
}

.signup-form form {
    color: #999;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
    background: #f2f3f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.signup-form .form-group {
    margin-bottom: 15px;
}

.signup-form .form-group p {
    float: right;
    margin-left: -25px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.signup-form input[type="checkbox"] {
    margin-top: 3px;
}

.signup-form .btn {
    font-size: 14px;
    font-weight: bold;
    min-width: 560px;
    outline: none !important;
}

.signup-form .row div:first-child {
    padding-right: 10px;
}

.signup-form .row div:last-child {
    padding-left: 10px;
}

.signup-form a {
    color: #fff;
    text-decoration: underline;
}

.signup-form a:hover {
    text-decoration: none;
}

.signup-form form a {
    color: #5cb85c;
    text-decoration: none;
}

.signup-form form a:hover {
    text-decoration: underline;
}

.signup-form img {
    position: absolute;
    width: 30px;
    top: 115px;
    right: 384px;
    cursor: pointer;
}

